<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ardalis.GuardClauses" version="4.0.0" targetFramework="net48" />
  <package id="bootstrap" version="3.3.0" targetFramework="net40" />
  <package id="bootstrap.less" version="3.4.1" targetFramework="net40" />
  <package id="Bootstrap.v3.Datetimepicker" version="4.17.45" targetFramework="net40" />
  <package id="Bootstrap.v3.Datetimepicker.CSS" version="4.17.45" targetFramework="net40" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net40" requireReinstallation="true" />
  <package id="JetBrains.Annotations" version="2021.2.0" targetFramework="net48" />
  <package id="jQuery" version="3.4.0" targetFramework="net40" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.Runtime.Common" version="12.0.2402.15" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="12.0.4100.1" targetFramework="net48" />
  <package id="Moment.js" version="2.9.0" targetFramework="net40" />
</packages>